body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.head {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex: 1;
}

.head a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    transition: all 0.3s ease;
}

.head a:active,
.head a:focus {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #FFA916;
    text-transform: uppercase;
}

.menuOption {
    font-size: 20px;
    cursor: pointer;
    background-color: #810004;
    padding: 4px 8px;
    border-radius: 5px;
}

nav#options {
    display: none;
    background-color: #444;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 60px;
    width: 200px;
    border-radius: 5px;
}

nav#options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav#options ul li {
    margin: 10px 0;
}

nav#options ul li a {
    color: white;
    text-decoration: none;
}

nav#options.show {
    display: block;
}

@media (max-width: 768px) {

    .head {
        display: none; 
    }

    .menuOption {
        display: block; 
    }

    header {
        justify-content: space-between;
    }
}

@media (max-width: 480px) {

    nav#options {
        width: 90%;
        right: 5%;
    }
}
