body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: Poppins, sans-serif;
    background-color: #000000;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
}

button.signup {
    background-color: transparent;
    color: white;
    border-color: #FFA916;
    border-radius: 10px;
    padding: 8px 16px;
    margin: 20px;
    cursor: pointer;
    margin-left: auto;
}


button.signup:hover {
    background-color: #FFA916;
}

.menuOption {
    font-size: 20px;
    cursor: pointer;
    background-color: #810004;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

nav#options {
    display: none;
    background-color: #444;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 50px;
    width: 200px;
    border-radius: 5px;
}

nav#options ul {
    list-style-type: none;
    padding: 0;
}

nav#options ul li {
    margin: 10px 0;
}

nav#options ul li a {
    color: white;
    text-decoration: none;
}

nav#options.show {
    display: block;
}

.logo {
    height: 40px;
    margin-right: 10px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto; 
    justify-items: center;
    align-items: center;
    gap: 30px; 
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .parent {
        grid-template-columns: 1fr; 
        height: auto; 
    }
}



.div1 { grid-area: 1 / 1 / 5 / 3; }
.div2 { grid-area: 1 / 3 / 5 / 5; }

.googleSignup {
    width: 300px;
    padding: 14px;
    background-color: #d8d8d8;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.divider {
    margin: 20px 0;
    padding: 20px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.divider::before, .divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    border-top: 1px solid #ccc;
}

.divider::before {
    left: -30px;
}

.divider::after {
    right: -30px;
}

.divider span {
    display: inline-block;
    padding: 0 10px;
    color: #a0a0a0;
}

.inputEmail, .inputPassword {
    position: relative;
    width: 300px;
    margin: 20px auto;
}
.inputEmail input, .inputPassword input {
    width: 100%;
    padding: 14px 10px;
    font-size: 16px;
    border: 1px solid #000000;
    outline: none;
    border-radius: 5px;
}
.inputEmail label, .inputPassword label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #b6b6b6;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease;
    background-color: white;
    padding: 0 5px;
}

.inputEmail input:focus + label, .inputEmail input:valid+label, .inputPassword input:focus + label, .inputPassword input:valid+label {
    top: -1px;
    font-size: 14px;
    color: #000;
}

.forgotPassword {
    display: block;
    margin-left: 275px;
    color: #8b8b8b; /* Match the theme color */
    text-decoration: none;
    font-size: 14px;
}

.forgotPassword:hover {
    text-decoration: underline;
}

.rememberMe {
    margin-top: 10px;
}

.rememberMe input {
    margin-right: 5px;
}

.forgotPassword {
    display: block;
    margin-top: 10px;
    color: #810004; /* Match the theme color */
    text-decoration: none;
    font-size: 14px;
}

.forgotPassword:hover {
    text-decoration: underline;
}

.signInButton {
    width: 150px;
    padding: 14px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.signInButton:hover {
    background-color: #810004;
}

.container2 {
    background-image: url('/images/silowet.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: calc(100vh - 40px);
    width: 96%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    color: white; 
    text-align: center; 
    padding: 20px; 
}
.container2 h1 {
    font-size: 65px;
    font-weight: bolder;
    margin-top: -30px;
}
.be {
    font-size: 24px;
    margin-top: -30px;
}
.container2 p {
    padding: 20px;
    font-size: 24px;
}
.createAccount {
    margin-top: 20px;
    padding: 14px 20px;
    font-size: 16px;
    background-color: #810004;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.createAccount:hover {
    background-color: #a20005;
}


footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    position: a;
    width: 100%;
    color: #333;
}

footer p {
    margin: 5px 0;
}

.container1, .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    max-width: 100%;
}

.container1 h1 {
    margin: 0;
    font-size: 50px;
    padding: 20px;
}

button.signup, .signInButton, .createAccount {
    width: 100%; 
    max-width: 150px; 
}

.inputEmail input, .inputPassword input {
    width: 100%; 
    max-width: 350px; 
}


